.buttoncolor.edit {
    background-color: #4CAF50;
   
   
    justify-content: center;
    
}
.buttoncolor.delete {
    background-color: #f44336;
  
   
    justify-content: center; 
}

.buttoncolor.spot {
    background-color: #0077be;
  
   
    justify-content: center; 
}

